<div class="col-lg-3">
    <div class="product-item">
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" width="60%" height="60%" max-height="100px" class="img-resposive product-img">
            </a>
        </div>
        {% if product_image.product.discount %}
        <div class="discaunt-container">
            <span>-{{ product_image.product.discount }}%</span>
        </div>
        {% endif %}
        <a href="{% url 'product' product_image.product.id %}">
            <h4 class="product-name">{{ product_image.product.name }}</h4>
        </a>
        <p class="product-description">{{ product_image.product.description|truncatechars_html:60 }}</p>
        <div class="add-to-cart-btn">
            <p class="product-price">{{ product_image.product.price }} RUB</p>
            <button class="btn btn-success">Добавить в корзину</button>
        </div>
    </div>
</div>
